@import "tailwindcss";
/* 
.banner_slide_item {
    display: flex !important;
    justify-content: space-between;
    gap: 1rem;
}


.banner_image {
    position: relative;
    z-index: 2;
}

.banner_image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    max-width: 847px;
    width: 100%;
    min-height: 747px;
    height: 100%;
    background-color: #ffc393;
    border-radius: 100%;
    z-index: -1;
}

.slider_container>.slick-slider>.slick-prev,
.slider_container>.slick-slider>.slick-next {
    z-index: 5 !important;
}

.slick-prev {
    left: 15px !important;
}

.slick-next {
    right: 15px !important;
}

.slider_container>.slick-slider>.slick-prev:before,
.slider_container>.slick-slider>.slick-next:before {
    font-family: 'slick';
    font-size: 52px !important;
    line-height: 1;
    opacity: .75;
    color: #545555 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.slider_container>.slick-slider>.slick-dots {
    position: absolute;
    bottom: 10px !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slider_container>.slick-slider>.slick-dots li button:before {
    font-family: 'slick';
    font-size: 22px !important;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: rgb(110, 110, 110);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slider_container>.slick-slider>.slick-dots>li.slick-active button:before {
    color: #141413 !important;
} */